*, html{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
  background: #333;
  color: #fff;
  line-height: 1.6;
  height: 100vh;
  overflow: hidden;
}

.container{
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.navbar{
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  width: 100%;
  height: 6%;
  background: rgba(0,0,0,0.7);
}

.navbar ul{
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: center;
}

.navbar ul li{
  margin: 0 1rem;
}

.navbar ul li a{
  text-decoration: none;
  text-transform: uppercase;
  color: #f4f4f4;
  height: 6%;
}

.navbar ul li a:hover{
  color: skyblue;
}

section{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100vh;
}

section h1{
  font-size: 4rem;
}

section p{
  font-size: 1.5rem;
}
.textContainer{
  margin-top: 2%;
  height: 20vh;
  width: 75vw;
}

/*Skills Section*/
.skillsContainer{
  display: flex;
}

.skillSection{
  width: 33vw;
}

.skillSection ul {
  list-style: none;
  justify-content: center;
}

.skillSection ul li{
  padding: 2.5% 0;
}

.skillSection ul li i{
  font-size: 3rem;
}



/*Project Styles*/
.projectList{
  display: flex;
  width: 100%;
  height: 50vh;
  justify-content:center;
  text-align: center;
  align-items: center;
  padding-top: 10%;
}

.individualProject{
  margin: 0 5%;
  width: 100%;
  height: 100%;
}

.projectList .individualProject button{
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  letter-spacing: 1em;
  width: 100%;
  height: 100%;
  opacity: 0.75;
}

.projectList .individualProject button:hover{
  opacity: 1;
}

/*Contact Styles*/
#contact ul{
  margin: 10px;
  display: flex;
}
#contact ul li{
  list-style: none;
  width: 100%;
  justify-content: center;
}
#contact button{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 25px;
  width:50px;
  height:50px;
  opacity: 0.75;
}
#contact button:hover{
  opacity: 1;
}

/*Contact Images */
#emailBtn{
  background-image: url("iconfinder_Email_3138894.png");
}
#linkedInBtn{
  background-image: url("iconfinder_LinkedIn_3138898.png");
}
#gitHubBtn{
  background-image: url("iconfinder_social_media_social_media_logo_github_2993771.png");
}
#resumeBtn{
  background-image: url("https://cdn1.iconfinder.com/data/icons/aami-flat-files/64/files-08-512.png");
}

#myPicture{
  width:auto;
  height: 50vh;
  border-radius: 50%;
}

/* Section Images */

section#home{
  background: url(https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-745377.jpg) no-repeat center center/cover;
}
section#skills{
  background: url(https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-751150.jpg) no-repeat center center/cover;
}
section#projects{
  background: url(https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-746835.jpg) no-repeat center center/cover;
}
section#contact{
  background: url(https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-87670.jpg) no-repeat center center/cover;
}

/*transform hamburger menu to an X if clicked*/
.toggle .line1{
  transform: rotate(-45deg) translate(-28%, 100%);
}
.toggle .line2{
  opacity: 0;
}
.toggle .line3{
  transform: rotate(45deg) translate(5%);
  opacity: 0;
}
/*Burger Menu*/
.burger{
  display: none;
  width: 5%;
  background-color: skyblue;
}
.burger div{
    width: 80%;
    height: 12%;
    background-color: white;
    color: white;
    margin: 5%;
    transition: all 0.3s ease;
}

.nav-active{
  transform: translateX(0%);
}

/*Phone Screen Size */
@media only screen and (max-width: 768px){
  .body{
    overflow-x: hidden;
  }

  .burger{
    display: block;
    cursor: pointer;
  }

  .nav-links{
    position: absolute;
    right: 0px;
    height: 70vh;
    top: 6vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(0,0,0,0.7);
    width: 20% !important;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
}
